In [72]:
'''
Complete all following Task:
• Dataset for the Task: "titanic.csv"
Following task is common for all the problem:
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify following:
'''
import pandas as pd
df = pd.read_csv("Titanic-Dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [73]:
'''
Problem 1 - Sorting:
1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.
2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.
3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.
'''

df_fare=df['Fare']
df_fare.head()

df_clag=df[['Pclass','Age']]
df_clag.head()

df_surgen=df[['Survived','Sex']]
df_surgen.head()

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [74]:
'''
Problem - 2 - Subsetting:
Complete all the following Task:
Subsetting Rows:
1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.
2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first class.View the printed result.
3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.
'''
fare_gt_100=df[df['Fare']>100]
fare_gt_100.head()

first_class=df[df['Pclass']==1]
first_class.head()

female_under_18=df[(df['Age']<18)& (df['Sex']=='female')]
female_under_18.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S

In [75]:
'''
Subsetting Rows by Categorical variables:
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.
2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first second class.View the printed result.
'''

embarked_cs=df[df['Embarked'].isin(['C','S'])]
embarked_cs.head()

first_second_class=df[df['Pclass'].isin([1,2])]
first_second_class.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [76]:
'''
3.2 Exploratory Data Analysis Practice Exercise - 1.
Warning: Handle missing values in the Age column by filling them with the median age of
the dataset before performing the division.)
'''
df = df.fillna(df['Age'].median())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [77]:
'''
Which passenger had the highest fare paid relative to their age?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result.
'''
fare_per_year = df['Fare']/df['Age']
df['Fare per year']=fare_per_year

high_fare_age=df[df['Fare per year']>5]
high_fare_age=high_fare_age.sort_values(by='Age',ascending=False)

high_fare_age_srt=high_fare_age.sort_values(by='Fare per year', ascending=False)

result=high_fare_age_srt[['Name','Fare per year']]
result.head()

                                Name  Fare per year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

In [78]:
'''
Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the result.
'''
fare_per_class=df['Fare'] / df['Pclass']
df['Fare per class']= fare_per_class


adult_males=df[(df['Sex']=='male') & (df['Age']>=18)]
adult_males_srt = adult_males.sort_values(by='Fare per class',ascending=False)

result = adult_males_srt[['Name','Age','Fare per class']]
result.head(10)

                                   Name   Age  Fare per class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
557                 Robbins, Mr. Victor  28.0        227.5250
527                  Farthing, Mr. John  28.0        221.7792
377           Widener, Mr. Harry Elkins  27.0        211.5000
332           Graham, Mr. George Edward  38.0        153.4625
373                 Ringhini, Mr. Sante  22.0        135.6333

In [79]:
'''
3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:
Based on the dataset Answer the following question:
What percent of the total fare revenue came from each passenger class?
To answer the question perform following operation:
1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.
Based on the dataset Answer the following question:
'''
total_fare = df['Fare'].sum()

first_class=df[df['Pclass']==1]
total_fare_first=first_class['Fare'].sum()

second_class=df[df['Pclass']==2]
total_fare_second=second_class['Fare'].sum()

third_class=df[df['Pclass']==3]
total_fare_third=third_class['Fare'].sum()

fare_total=[total_fare_first,total_fare_second,total_fare_third]

print(" Proportion of Fare revenue in first class ", fare_total[0]/total_fare,"%")
print(" Proportion of Fare revenue in second class ", fare_total[1]/total_fare,"%")
print(" Proportion of Fare revenue in third class ", fare_total[2]/total_fare,"%")

 Proportion of Fare revenue in first class  0.6334928771899656 %
 Proportion of Fare revenue in second class  0.1324962855496507 %
 Proportion of Fare revenue in third class  0.23401083726038366 %

In [80]:
'''
What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?
To answer the question perform following operation:
1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage.
'''
df.loc[df['Age']<18,'Age Group']='child'
df.loc[(df['Age']>=18) & (df['Age']<64),'Age Group']='adult'
df.loc[df['Age']>=64,'Age Group']='senior'

print("The total number of passengers is: ",df['PassengerId'].count())

total_passenger=df.groupby('Age Group')['PassengerId'].count()
print(total_passenger)

print("Percentage of adult: ",total_passenger['adult']/df['PassengerId'].count(),"%")
print("Percentage of child: ",total_passenger['child']/df['PassengerId'].count(),"%")
print("Percentage of senior: ",total_passenger['senior']/df['PassengerId'].count(),"%")

The total number of passengers is:  891
Age Group
adult     765
child     113
senior     13
Name: PassengerId, dtype: int64
Percentage of adult:  0.8585858585858586 %
Percentage of child:  0.12682379349046016 %
Percentage of senior:  0.014590347923681257 %