In [1]:
import pandas as pd

#Problem 1 - Data Read, Write and Inspect:
#1. Load the provided dataset and import in pandas DataFrame.
dataset = pd.read_csv("bank.csv")

#2. Check info of the DataFrame and identify following:
#(a) columns with dtypes=object
#(b) unique values of those columns.
#(c) check for the total number of null values in each column.
dataset.info()
obj_dataset_column = dataset.select_dtypes("object").columns
print(obj_dataset_column)

#3. Drop all the columns with dtypes object and store in new DataFrame, also write the DataFrame in
#”.csv” with name ”banknumericdata.csv”
new_dataset=dataset.drop(columns=obj_dataset_column)
new_dataset.info()
new_dataset.to_csv("banknumericdata.csv")

#Read ”banknumericdata.csv” and Find the summary statistics.
numeric_dataset=pd.read_csv('banknumericdata.csv')
numeric_dataset.describe()



######################################################################################################################

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB
Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'y'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       45211 non-null  int64
 1   balance   45211 non-null  int64
 2   day       45211 non-null  int64
 3   duration  45211 non-null  int64
 4   campaign  45211 non-null  int64
 5   pdays     45211 non-null  int64
 6   previous  45211 non-null  int64
dtypes: int64(7)
memory usage: 2.4 MB

,Unnamed: 0,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,22605.000000,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,13051.435847,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,0.000000,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,11302.500000,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,22605.000000,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,33907.500000,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,45210.000000,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [2]:
#Dataset for the Task: "medical_student.csv"
#1. Load the provided dataset and import in pandas DataFrame.
medical_dataset=pd.read_csv("medical_students_dataset.csv")


#2. Check info of the DataFrame and identify column with missing (null) values.
medical_dataset.info()

#3.For the column with missing values fill the values using various techniques we discussed above. Try
#to explain why did you select the particular methods for particular column.
medical_dataset['Student ID']=medical_dataset['Student ID'].fillna((medical_dataset['Student ID'].ffill())+1)
medical_dataset['Age']=medical_dataset['Age'].fillna(medical_dataset['Age'].mean())
medical_dataset['Gender']=medical_dataset['Gender'].ffill()
medical_dataset['Height']=medical_dataset['Height'].fillna(medical_dataset['Height'].median())
medical_dataset['BMI']=medical_dataset['BMI'].fillna(medical_dataset['BMI'].median())
medical_dataset['Temperature']=medical_dataset['Temperature'].fillna(medical_dataset['Temperature'].mean())
medical_dataset['Blood Pressure']=medical_dataset['Blood Pressure'].fillna(medical_dataset['Blood Pressure'].median())
medical_dataset['Cholesterol']=medical_dataset['Cholesterol'].fillna(medical_dataset['Cholesterol'].median())
medical_dataset['Blood Type']=medical_dataset['Blood Type'].ffill()
medical_dataset['Weight']=medical_dataset['Weight'].fillna(medical_dataset['Weight'].median())
medical_dataset['Diabetes']=medical_dataset['Diabetes'].ffill()
medical_dataset['Heart Rate']=medical_dataset['Heart Rate'].fillna(medical_dataset['Heart Rate'].mean())
medical_dataset['Smoking']=medical_dataset['Smoking'].fillna(0)

#4. Check for any duplicate values present in Dataset and do necessary to manage the duplicate items.
print(medical_dataset.duplicated().sum())
medical_dataset.drop_duplicates()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145806 entries, 0 to 145805
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Student ID      131241 non-null  float64
 1   Age             131342 non-null  float64
 2   Gender          131219 non-null  object
 3   Height          131216 non-null  float64
 4   Weight          131299 non-null  float64
 5   Blood Type      131246 non-null  object
 6   BMI             131182 non-null  float64
 7   Temperature     131244 non-null  float64
 8   Heart Rate      131193 non-null  float64
 9   Blood Pressure  131102 non-null  float64
 10  Cholesterol     131221 non-null  float64
 11  Diabetes        131206 non-null  object
 12  Smoking         131168 non-null  object
dtypes: float64(9), object(4)
memory usage: 14.5+ MB
5729

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
0,1.0,18.000000,Female,161.777924,72.354947,O,27.645835,98.600508,95.000000,109.0,203.0,No,0
1,2.0,26.023374,Male,152.069157,47.630941,B,22.672356,98.714977,93.000000,104.0,163.0,No,No
2,3.0,32.000000,Female,182.537664,55.741083,A,16.729017,98.260293,76.000000,130.0,216.0,Yes,No
3,4.0,30.000000,Male,182.112867,63.332207,B,19.096042,98.839605,99.000000,112.0,141.0,No,Yes
4,5.0,23.000000,Female,174.907005,46.234173,O,22.672356,98.480008,95.000000,115.0,231.0,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145801,45802.0,26.000000,Female,159.716259,94.995248,A,22.672356,98.511955,79.490621,136.0,142.0,No,No
145802,45803.0,20.000000,Female,160.899159,54.178349,A,22.672356,97.991290,80.000000,115.0,184.0,No,Yes
145803,45804.0,33.000000,Male,169.750333,45.375945,A,15.747239,98.696496,79.490621,103.0,183.0,No,No
145804,45805.0,25.000000,Female,168.425152,40.892932,A,14.415654,99.092639,74.000000,90.0,217.0,No,No
145805,45806.0,32.000000,Female,192.495001,88.229814,O,23.000000,98.600508,79.490621,115.0,184.0,No,0